body{
    overflow-y: scroll;
}

.pP__page__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pP__content__container{
    flex-grow: 1;
    margin: 0 auto 30px;
    max-width: 935px;
    width: 100%;
    height: 100%;
}


.highlight__container{
    width: 125px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    justify-content: center;
    align-content: stretch;
    height: 100%;
    margin-bottom: 21px;
}

.highlight{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
    width: 115px;
}

.highlight__plus{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid lightgray 1px;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.highlight__new{
    padding-top: 7px;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    width: 100%;
}

.pP__category__container{
    border-top: solid lightgray 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}




.pP__categories{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-transform: uppercase;
    cursor: pointer;
    align-items: center;
    height: 52px;
    border-top: solid white 1px;
    color: #8e8e8e;
}

.active{
    border-top: solid rgb(38, 38, 38) 1px;
    color: #262626;
}


.category__labels{
    display: flex;
    flex-direction: row;
    flex:0 0 auto;
    align-items: center;
    align-content: stretch;
    justify-content: flex-start;
}

.category__name{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    margin-left: 6px;
    vertical-align: baseline;
}

.category__icon{
    height: 12px;
    width: 12px;
}




@media (min-width: 768px) {

    .pP__content__container{
        box-sizing: content-box;
        padding: 30px 20px 0;
        width: calc(100% - 40px);
    }

    .pP__highlights__container{
        height: 130px;
        margin-bottom: 44px;
    }
}

@media (min-width: 768px) {
    .pP__category__container{
        justify-content: center;
    }
    .pP__categories:not(:last-child)   {
        margin-right: 60px;
    }
    
}

    /* MAAAXX WIDTH */
@media (max-width: 768px){
    .pP__categories{
        flex-grow: 1;
        flex-shrink: 1;
    }
    .highlight{
        padding: 0px;
        margin-left: 7px;
        width: fit-content;
    }
    .highlight__img{
        height: 25px;
    }
    .highlight__plus{
        height: 64px;
        width: 64px;
    }

    .category__icon{
        height: 24px;
        width: 24px;
    }
    .category__name{
        display: none;
    }

}




.pP__posts__container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 0;
    min-width: 0;
}
.pP__posts__collection{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pP__posts__row{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-around;
}

.pP__post__container{
    display: flex;
    max-width: 280px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    aspect-ratio: 1/1;

}

.pP__post__container:not(:last-child){
    margin-right: 3px;
}





.pP__post__image{
    max-height: 100%;
}



@media (min-width: 768px) {
    .pP__post__container:not(:last-child){
        margin-right: 28px;
    }
    .pP__posts__row{
        margin-bottom: 28px;
    }
}


