.post{
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 16px;
    border-radius: 8px;
    max-width: 470px;
    width: 100%;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.post__iconBar{
    margin-top: 4px;
    display: flex;
    flex-direction: row;
  
}

.post__iconBar__img{
    object-fit: contain;
}
.post__iconBar__iconContainer{
    margin-left: 10px;
    margin-right: 10px;
}

.post__iconBar__iconContainer button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.post__iconBar__Icon{
    height: 23px;

}

.post__iconBar :nth-child(4){
    margin-left: auto;
}


.post__header{
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: stretch;
   justify-content: space-between;
}

.post__headerProfile{
    margin: 8px 4px 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.post__headerButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}
.post__headerButton{
    cursor: pointer;
    background-color: transparent;
    border: none;
    letter-spacing: -2px;
    position: relative;
    padding: 8px 8px 8px 8px;
    
}

.post__avatar{
    margin-right: 10px;
    height: 30px;
	width: 30px;
}

.post__username{
    font-size: 14px;
    font-weight: 600;
}

.post__comments {
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
}

.post__viewAll{
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: rgb(142, 142, 142);
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
}



