
.ePP__boxContainer {
	border: solid #dbdbdb 1px;
	background-color: #FFFFFF;
	margin: 0 0 10px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.ePP__box{
    display: flex;
	flex-direction: column;
	align-items: center;
    width: 340px;
}

.ePP__textContainer{
    width: 200px;
    text-align: center;
    font-size: 14px;
    padding: 4px;
    margin-top: 10px;
}

.ePP__imageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.ePP__body__inputContainer{
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ePP__body__button{
    cursor: pointer;
    height: 30px;
    width: 162px;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 149, 246);
    color: white;
    font-weight: 600;
    font-size: 14px;

}

.ePP__body__buttonText{
    position: absolute;
    height: inherit;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.ePP__body__input{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: -1;
}

.ePP__buttonContainer__alt{
    padding: 4px;
}

.ePP__button__alt{
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(0, 149, 246);
    font-weight: 600;
    font-size: 14px;
}