

  
.deleteModal__position{
  display: flex;    
  align-items: center;
  justify-content: center;
  }

.deleteModal__boxContainer{
  z-index: 4;
  background-color: white;
  border-radius: 12px;
  max-width: 648px;
  min-width: 348px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex: 1 1 auto;
  overflow: hidden;
  }

.deleteModal__boxButton{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
  min-height: 48px;
  padding: 4px 8px;
  }

.important{
  color: rgb(237, 73, 86);
  font-weight: 700;
}

.bottom{
  border-top: solid lightgray 1px;
  }