.lazyPost{
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 16px;
    border-radius: 8px;
    width: 470px;
    height: 500px;
}
.lazyPost__image{
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.lazyPost__header{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
    justify-content: space-between;
}

.lazyPost__headerProfile{
    margin: 8px 4px 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.lazyPost__avatar{
    border-radius: 50%;
    background-color: lightgray;
    margin-right: 10px;
    height: 30px;
	width: 30px;
}

.lazyPost__username{
    background-color: lightgray;
    width: 100px;
    height: 18px;
}
