.imageSelect__position{
    position: absolute;
    display: flex;    
    align-items: center;
    justify-content: center;
    z-index: 4;
    
  }

.imageSelect__box__container{
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageSelect__container{
    z-index: 4;
    background-color: white;
    border-radius: 12px;
    max-width: 648px;
    min-width: 348px;
    min-height: 391px;
    max-height: 691px;
    display: flex;
    flex-direction: column;
    margin: 20px;
    flex: 1 1 auto;
}

.imageSelect__header{
    width: 100%;
    display: flex;
    height: 40px;
    flex-direction: row;   
    align-items: center;
    justify-content: center;
    border-bottom: solid lightgray 1px;
    padding: 2px;
}

.buttons{
    border: none;
    background-color: transparent;
}
.imageSelect__header__backButtonContainer{
    margin: 8px;
    flex: 0;
}

.imageSelect__header__backButtonContainer button{
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.imageSelect__header__text{
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageSelect__header__postButtonContainer{
    flex: 0;
    margin: 8px;
}

.imageSelect__header__postButtonContainer button{
    cursor: pointer;
    font-size: 14;
    font-weight: 600;
    color: #0095F6;
    border: none;
    background-color: transparent;
}

.imageSelect__body{
    display: flex;
    height: 390px;
    width: 390px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-radius: 0 0 12px 12px;

}


.imageSelect__body__textContainer{
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-start;
}
.imageSelect__body__text{
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    margin: -4px 0 -5px;
}

.imageSelect__body__inputContainer{
    margin-top: 18px;
    padding: 4px;
}
.imageSelect__body__button{
    height: 30px;
    width: 162px;
    position: relative;
    border: none;
    border-radius: 4px;
    background-color: rgb(0, 149, 246);
    color: white;

}

.imageSelect__body__buttonText{
    position: absolute;
    height: inherit;
    width: inherit;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}


.imageSelect__body__input{
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
}
