
.pH__header__container{
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    align-items: stretch;
    padding: 16px; 
}

.pH__profilePic__container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 28px;
}

.pH__profilePic__buttonContainer{
    
    height: fit-content;
    width: fit-content;
}

.pH__profilePic__button{
    border: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    height: 100%;
    padding: 0;
    width: 100%;
}
.pH__profileInfo__container{
    display: flex;
    flex-shrink: 1;
    flex-direction: column;
    flex-basis: 30px;
    flex-grow: 2;

}

.pH__profileInfo__firstRow{
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    align-items: center;
    margin-bottom: 12px;
}

.firstRow__name{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 28px;
    line-height: 32px;
    margin: -5px 0 -6px;
}

/* SORT OUT  edit BUTTON CONTAINER BELOW */

.firstRow__editButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex: 0 1 auto;
    justify-content: flex-start;
    margin-left: 20px;
    max-width: 250px;
}

.firstRow__editButton{
    width: 100%;
    align-items: center;
    border-radius: 4px;
    border: solid lightgray 1px;
    background: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 5px 9px;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 600;
}

.firstRow__optionsButtonContainer{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    margin-left: 5px;
}

.firstRow__optionsButton{
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 8px;
}



.pH__profileInfo__secondRow{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    list-style-type: none;
}

.secondRow__posts{
    margin-right:  40px;
}

.secondRow__text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.secondRow__num{
    font-weight: 600;
}

.secondRow__followers{
    margin-right:  40px;
}

.pH__profileInfo__thirdRow{
    padding: 0 16px 21px;
}

.thirdRow__caption{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-overflow: ellipsis;
}


@media (max-width: 768px) {
    .firstRow__editButtonContainer{
        margin-left: 0px;
    }

}


