.imageUpload__container {
    background-color: white;
    border-radius: 12px;
    width: 730px;
    max-width: 988px;
    min-width: 390px;
    min-height: 391px;
    max-height: 691px;
    z-index: 4;
}
.imageUpload__header{
    display: flex;
    height: 40px;
    flex-direction: row;   
    align-items: center;
    justify-content: center;
    border-bottom: solid lightgray 1px;
}

.imageUpload__header__backButtonContainer{
    margin: 9px;
    flex: 0;
}

.imageUpload__header__backButtonContainer button{
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
}

.imageUpload__header__text{
    font-size: 16px;
    font-weight: 600;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageUpload__header__postButtonContainer{
    flex: 0;
    margin: 9px;
}

.imageUpload__header__postButtonContainer button{
    cursor: pointer;
    font-size: 14;
    font-weight: 600;
    color: #0095F6;
    border: none;
    background-color: transparent;
}




.imageUpload__previewContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.imageUpload__imageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: solid lightgray 1px;
    flex: 1;
    object-fit: contain;
    height: 400px;
}

.imageUpload__captionProfile{
    padding: 10px;
    display: flex;
    flex-direction: row;
}


.imageUpload__captionContainer{
    flex: 1;
}

.imageUpload__caption{
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    height: 50%;
    padding: 0 16px;
    font-size: 16px;
}
.imageUpload__image{
   object-fit: contain;
   max-height: 400px;
   max-width: 100%;
}




@media (max-width: 480px) {
    .imageUpload__container{
        width: 100%;
    }
    
}