:root{
    --loadingNavBarHeight: 0px
}


.loading__container{
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 61px);
    width: 100%;
}

.loading__logo{
    height: 100px;
    width: 100px;
}