.post{
    background-color: white;
    border: 1px solid lightgray;
    margin-top: 16px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 100;
}
.post__image{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post__text{
    font-weight: normal;
    padding: 20px;
}

.post__header{
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: stretch;
   justify-content: space-between;
}

.post__headerProfile{
    margin: 8px 4px 8px 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.post__headerButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}
.post__headerButton{
    position: relative;
    padding: 8px 8px 8px 8px;
    
}
.post__headerButtonDots{
    cursor: pointer;
    height: fit-content;
    letter-spacing: -2px;
}




.post__avatar{
    margin-right: 10px;
}

.post__commentBox {
    display: flex;
    margin-top: 10px;
}

.post__comments {
    padding: 20px;
}
.post__input{
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
}
.post__button{
    flex: 0;
    border: none;
    color: #6082a3;
    background-color: transparent;
    border-top: 1px solid lightgray;
    cursor: pointer;
}