.RC__container{
	display: flex;
	background-color: white;
	flex-direction: row;
	border: solid lightgray 1px;
	border-radius: 8px;
	margin-bottom: 0;
	margin-top: 16px;
	padding: 16px 0;
    padding-left: 16px;
	height: 119px;
    position: relative;
    overflow: hidden;
}

.RC__scroll{
    display: flex;
    transition: all ease-in 1s;
    width: 100%;
    border: solid red 1px;
}


.RC__buttons{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.RC__lButton{
    margin-left: 8px;
    margin-right: 8px;
}

.RC__RButton{
    margin-left: 8px;
    margin-right: 8px;

}


.RC__button{
    cursor: pointer;
    border: none;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.RC__button p{
    font-size: 30px;
    padding-bottom: 9px;
    color: rgb(38, 38, 38);
}


@media (max-width: 480px){
    .RC__container{
        margin-top: 0px;
        border-top: none;
    }
}