.reel__container{
	padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
}

.reel__profile{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-items: center;
	width: fit-content;
}

.reel__image{
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	width: fit-content;
}
.reel__avatar{
    z-index: 2;
    border: solid white 2px;
}

.reel__avatarRing{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.app__reelsNameContainer{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.reelName{
	display: flex;
    align-items: center;
    justify-content: center;
}

.app__reelsName{
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
}



.RC2__container{
	border: solid lightgray 1px;
	border-radius: 8px;
	margin-bottom: 0;
	margin-top: 16px;
	padding: 16px 0;
    padding-left: 16px;
	height: 119px;
    position: relative;
}

.test{
	background-color: white;
	border: solid lightgray 1px;
	border-radius: 8px;
	margin-bottom: 0;
	margin-top: 16px;
	padding: 16px 0;
    padding-left: 12px;
	height: 119px;
    position: relative;
}


/* 
.slick-slider{
    border: solid red 1px;
    height: 100%;
    width: 100%;
} */



.slick-prev {
    position: absolute;
    top: 50% !important;
    left: -10 !important;
    margin-left: 29px;
    object-fit: contain;
    height: 24px !important;
    width: 24px !important;
    z-index: 1;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

  }



  .slick-next {
    position: absolute;
    top: 50% !important;
    right: 0 !important;
    margin-right: 17px;
    object-fit: contain;
    height: 24px !important;
    width: 24px !important;
    border-radius: 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;

  }


.slickArrowImage{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.slick-disabled{
    display: none !important;
}

.slick-prev:before, .slick-next:before  {
content: '' !important;
}


 