.reel__container{
    display: flex;
}

.reel__profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
}

.reel__image{
    position: relative;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reel__avatar{
    z-index: 2;
    border: solid white 2px;
}

.reel__avatarRing{
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

.app__reelsNameContainer{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.app__reelsName{
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 12px;
}

