
.sPB__boxContainer {
	/* border: solid #dbdbdb 1px; */
    border: solid blue 1px;
	background-color: #FFFFFF;
	margin: 0 0 10px;
	padding: 10px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

.sPB__box{
    border: solid green 1px;
    display: flex;
	flex-direction: column;
	align-items: center;
    width: 340px;
}

.sPB__caption{
    /* border: none; */
    outline: none;
    resize: none;
    width: 100%;
    height: 50%;
    padding: 0 16px;
    font-size: 16px;
}
